// Colors
$color__black:          #000000;
$color__white:          #FFFFFF;
$color__yellow:         #f3c531;
$color__light__yellow:  #fff000;
$color__dark__yellow:   #ecb10f;
$color__red:            #fb4a04;
$color__silver:         #ebebeb;
$color__gray:           #454545;
$color__green:          #85c147;



// Font Family

$ff-montserrrat: 'Montserrat', sans-serif;