
.our-clients {
    background-color: $color__silver;
    padding: 30px 0;

    .client-item {
        img {
            margin: 0 auto;
            filter: grayscale(1);
        }
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }
}